/* forum-regular - latin */
@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/forum-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/forum-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('/assets/fonts/roboto-v27-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v27-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('/assets/fonts/roboto-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('/assets/fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v27-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.conteiner{
  max-width: 1440px;
  margin: 0 auto;
}
.header,
.footer,
.section_colored{
  background: #030303;
}
.section_colored_white{
  color: white;
}
.section{
  padding: 75px 0;
}
.section_title{
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}
.section_title_colored{
  color: #9D8665;
}
.conteiner_footer{
  display: flex;
}
/* header start */
.header{
  padding-top: 74px;
  padding-bottom: 76px;
}
.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_pic{
  background: url(../assets/svg/logo.svg) no-repeat;
  width: 48px;
  height: 26px;
}
.logo_text{
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: 100;
  font-size: 28px;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
.logo_conteiner{
  display: flex;
  align-items: baseline;
  column-gap: 21px;
}
.logo_text:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  cursor: pointer;
}
.header_nav{

}
.header_list{
  display: flex;
  flex-wrap: wrap;
}
.header_item{
  margin-right: 74px;
}
.header_item:last-child{
  margin-right: 0;
}
.header_link{
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
}
.header_link:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  text-decoration: none;
}
/* header end */

/* welcomе start */
.welcome{
  background-image: url(/assets/img/welcome.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% + 352px);
}
.welcome_block{
  height: 390px;
}
.section-title_welcome{
  width: 598px;
  height: 90px;
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color:white;
}
h1{
  text-decoration: none;
}
h3{
  position: relative;
  top: 26px;
  width: 445px;
  height: 33px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.welcome_bg{
  padding-top: 114px;
  padding-bottom: 246px;
}
.discover_the_louvre{
  position: relative;
  display: flex;
  align-items: center;
  top: 102px;
  width: 229px;
  height: 43px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  color: white;
  line-height: 26px;
  letter-spacing: 2px;
  text-decoration: none;
  padding:16px 66px;
  border-radius: 10px;
  background-color: #710707;
  transition-duration: 1s;
}
.discover_the_louvre:hover {
  text-decoration: none;
  background: rgba(157, 134, 101, 1);
}
/* welcomе end */

/*visiting start*/
.virtual_tour_text{
  color: #9D8665;
}
.virtual_tour_line{
  background: #710707;
  width: 1440px;
  height: 3px;
  margin-top: 25px;
}
.conteiner_for_cards{
  display: flex;
  flex-wrap: wrap;
  margin-top: 75px;
  gap: 3.75rem;
  row-gap: 4.8rem;
}
.card{
  text-decoration: none;
}
.card:last-child{
  gap: 0;
}
.line{
  text-decoration: none;
  background-repeat: no-repeat;
  height: 2px;
  width: 300px;
  margin-top: 9px;
  background-color: #710707;
}
.card:hover {
  background-color: #9D8665;;
  transition: all 0.2s ease-in;
}
.card_text_1{
  padding-top: 26px;
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #000000;
}
.card_text_2{
  height: 26px;
  margin-top: 10px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.card_text_3{
  margin-top: 10px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
/*visiting end*/

/*picture_explore start*/
.conteiner_picture_explore{
  height: 715px;
  background: black;
}
.picture_explore{
  background-image: url(/assets/img/Rectangle.jpg);
  background-repeat: no-repeat;
  background-position: calc(50% + 360px) 15px;
}
.picture_explore_line{
  width: 660px;
  height: 3px;
  margin-top: 25px;
  background: #710707;
}
.explore_title{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 660px;
  padding-top: 77px;
}
.picture_explore_title{
  width: 659px;
  height: 77px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 25px;
  color: #FFFFFF;
}
/*picture_explore end*/

/*video_journey start*/
.frame{
  margin-top: 15px;
  background: url(/assets/img/frame.jpg) no-repeat;
  height: 714px;
}
.butt_play{
  padding-top: 205px;
  margin-left: 610px;
}
.pl{
  background-image: url(/assets/img/pl.png);
  background-repeat: no-repeat;
  background-position: calc(60%);
}
.butt_play:hover{
  cursor: pointer;
  filter: invert(56%) sepia(33%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(84%);
}
.panel{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-image:url(/assets/img/panel.jpg);
  height: 11.9%;
  margin-top: 204px;
  gap: 2.5rem;
}
.left{
  background: url(/assets/svg/left.svg) no-repeat;
  border: none;
  outline: none;
  width: 27px;
  height: 30px;
  margin-left: 41px;
}
.play{
  background: url(/assets/svg/play.svg) no-repeat;
  border: none;
  outline: none;
  width: 23px;
  height: 32px;

}
.right{
  background: url(/assets/svg/right.svg) no-repeat;
  border: none;
  outline: none;
  width: 27px;
  height: 32px;

}
.left:hover{
  cursor: pointer;
  filter: invert(56%) sepia(33%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(84%);
}
.play:hover{
  cursor: pointer;
  filter: invert(56%) sepia(33%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(84%);
}
.right:hover{
  cursor: pointer;
  filter: invert(56%) sepia(33%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(84%);
}
.change_fr{
  background: linear-gradient(to right, #24809E 0%, #24809E 40%, #fff 40%, #fff 100%);
  border: #fff;
  width: 820px;
  height: 4px;
  height: 8px;
  outline: none;
  transition : 450ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
}
.sound{
  height: 30px;
  width: 38px;
  background: url(/assets/svg/sound.svg) no-repeat;
  border: none;
  outline: none;
  margin-left: 5px;
}
.sound:hover{
  cursor: pointer;
  filter: invert(56%) sepia(33%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(84%);
}
.expansion{
  width: 37px;
  height: 37px;
  background: url(/assets/svg/expansion.svg) no-repeat;
  border: none;
  outline: none;
  margin-left: 4px;
}
.expansion:hover{
  cursor: pointer;
  filter: invert(56%) sepia(33%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(84%);
}
.change_sound{
  background: linear-gradient(to right, #24809E 0%, #24809E 40%, #fff 40%, #fff 100%);
  border: #fff;
  height: 8px;
  width: 155px;
  outline: none;
  transition : 450ms ease-in;

  -webkit-appearance: none;
  cursor: pointer;
  margin-left: -19px;
}
.vid_jour_text_block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 39px;
}
.video_journey_text_1{
  width: 720px;

  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 39px;
  color: #000000;
}
/*video_journey end*/

/*tickets_start*/

.tickets{
  display: flex;
  flex-wrap: wrap;
  height: 744px;
}
.tickets_text{
  width: 660px;
  height: 77px;
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}
.tickets_line{
  width: 100%;
  height: 3px;
  margin-top: 23px;

  background: #710707;
}
.ticket_pic{
  width: 720px;
  height: 550px;
  margin-top: 74px;
}
.ticket_type{
  margin-left: 60px;
  margin-top: 75px;
}
.ticket_type_choice{
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  color: #FFFFFF;
}
.radio_text{
  display: flex;
  height: 26px;
  padding-top: 50px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}
.radio_text:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  text-decoration: none;
}
.form_radio {
  width: 270px;
  margin-top: 50px;
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	user-select: none;
  padding-top: 1px;
}
.form_radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
  padding-left: 24px;
	bottom: 9px;
	background: url(/assets/img/Ellipse_1.png) 0 0 no-repeat;
}
/* Checked */
.form_radio input[type=radio]:checked + label:before {
	background: url(/assets/img/Group.png) 0 0 no-repeat;
}
/* Hover */
.form_radio label:hover:before {
	filter: brightness(120%);
}
/* Disabled */
.form_radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}
.amount{
  position: relative;
  width: 150px;
  left: 240px;
  margin-top: 75px;
}
.amount_text{
  display: block;
  text-align: end;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
}
.basic_1{
  height: 100px;
}
.senior_1{
  height: 100px;
  margin-top: 25px;
}
.basic_1_text{
  margin-top: 12px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}
.senior_1_text{
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}
.basic{
  height: 42px;
  margin-top: 14px;
  border: 3px solid white;
}
.number{
  display: flex;
  all: unset;
  height: 26px;
  left: 69px;
  margin-left: 12px;
  margin-top: 10px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}
.button_1{
  background: url(/assets/img/–.png) no-repeat;
  width: 18px;
  padding-top: 11px;
  margin-left: 11px;
  border: none;
  text-decoration: none;
}
.button_2{
  background: url(/assets/img/+.png) no-repeat;
  width: 18px;
  padding-top: 17px;
  border: none;
  text-decoration: none;
}
.button_1:hover , .button_2:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  text-decoration: none;
}
.senior{
  height: 42px;
  margin-top: 14px;
  border: 3px solid white;
}
.total{
  width: 160px;
  margin-top: 40px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  color: #FFFFFF;
}
.buy_now{
  display: flex;
  align-items: center;
  width: 177px;
  height: 52px;
  margin-top: 467px;
  margin-left: 62px;
  background: #FFFFFF;
  border-radius: 2px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  padding-left: 39px;
  color: #000000;
}
.buy_now:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  font: #fff;
}
/*tickets_end*/

/* contacts-start*/
.contact{
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  left: 240px;
  margin-top: 75px;
}
.contact_line{
  height: 3px;
  margin-top: 26px;
  background: #710707;
}
.adress{
  padding-top: 10px;
}
.musee{
  padding-bottom: 63px;
}
.musee_text{
  width: 244px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: normal;
  color: #000000;
}
.musee_adress{
  padding-bottom: 7px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  color: #000000;
}
.conteiner_adress_map{
  display: flex;
  flex-wrap: wrap;
}
.map{
  height: 620px;
  background-image: url(../assets/img/map.png);
  background-repeat: no-repeat;
  background-position: calc(100% + 1px);
  margin-top: 75px;
}
/* contacts-end*/


/*footer_start*/
.logo_conteiner_footer{
  display: flex;
  align-items: baseline;
  column-gap: 21px;
}
.logo_pic_footer{
  background: url(../assets/svg/logo.svg) no-repeat;
  width: 48px;
  height: 26px;
}
.logo_text_footer{
  font-family: "Forum", serif;
  font-style: normal;
  font-weight: 100;
  font-size: 28px;
  line-height: 200px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}
.logo_text_footer:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  text-decoration: none;
  cursor: pointer;
}
.nav_footer_block{
  display: flex;
  padding: 75px 401px 77px 145px;
}
.nav_footer_1{
  display: flex;
  margin-right: 156px;
}
.nav_footer_2{
  display: flex;
  justify-content:flex-end;
}
.header_item_footer_video{
  margin-right: 41px;
}
.header_item_footer_tickets{
  margin-right: 22px;
}
.header_item_footer_contacts{
  margin-right: 2px;
}
.social_network{
  display: flex;
  justify-content: space-between;
  margin-top: 163px;
  width: 336px;
}
.youtube{
  width: 48px;
  height: 48px;
  background: url(/assets/img/Youtube.png);
}
.insta{
  width: 48px;
  height: 48px;
  background: url(/assets/img/Instagram.png);
}
.f_b{
  width: 48px;
  height: 48px;
  background: url(/assets/img/Facebook.png);
}
.tw{
  width: 48px;
  height: 48px;
  background: url(/assets/img/Twitter.png);
}
.pinterest{
  width: 48px;
  height: 48px;
  background: url(/assets/img/Pinterest.png);
}
.youtube:hover, .insta:hover, .f_b:hover, .tw:hover,
.pinterest:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  text-decoration: none;
}
/*footer_end*/