/* forum-regular - latin */
@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/forum-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/forum-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('/assets/fonts/roboto-v27-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v27-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('/assets/fonts/roboto-v27-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v27-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/assets/fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('/assets/fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/assets/fonts/roboto-v27-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.conteiner{
  max-width: 1440px;
  margin: 0 auto;
}

/* header start */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  background: #030303;
}
.logo_pic{
  background: url(/assets/svg/logo.svg) no-repeat;
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin-left: auto;
  margin-right: 0;
  width: 49px;
  height: 26px;
  margin-right: 21px;
  margin-top: 8px;
  right: 2%;
  top: 83px;
  color: white;
}
.logo_text{
  display: flex;
  flex-wrap: wrap;
  left: 310px;
  top: 74px;

  font-family: Forum;
  font-style: normal;
  font-weight: 100;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.logo_conteiner{
  display: flex;
  width: 195px;
  height: 50px;
  padding-top: 74px;
  float: left;
  margin-left: 240px;
}
.link_logo_conteiner:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  text-decoration: none;
}
.header_nav{
  padding-top: 75px;
  padding-left: 525px;
  width: 720px;
}
.header_list{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 720px;
  margin-left: 436px;
  margin-bottom: 76px;
}
.header_item{
  margin-right: 74px;
}
.header_item:last-child{
  margin-right: 0;
}
.header_link{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-decoration: none;
}
.header_link:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  text-decoration: none;
}
/* header end */

/* welcomе start */
.welcome_bg_pic{
  background: url('/assets/img/welcome.jpg') no-repeat;
  height: 750px;
  width: 1215px;
  margin-left: 705px;
}
.welcome_block{
  padding-top: 114px;
  margin-left: 240px;
  width: 598px;
  height: 390px;
  left: 0px;
  top: 0px;
}
.section-title_welcome{
  width: 598px;
  height: 90px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color:white;
}
h2{
  width: 380px;
  height: 90px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color:white;
}
h3{
  position: relative;
  top: 26px;
  width: 445px;
  height: 33px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.welcome_bg{
  width: 705px;
  height: 750px;
  background: #030303;
  border-radius: 0px;
  float: left;
}
.discover_the_louvre{
  position: relative;
  display: flex;
  align-items: center;

  top: 102px;

  width: 229px;
  height: 43px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  color: white;
  line-height: 26px;
  letter-spacing: 2px;
  text-decoration: none;
  padding:16px 66px;
  border-radius: 10px;
  background-color: #710707;
  transition-duration: 1s;
}
.discover_the_louvre:hover {
  text-decoration: none;
  background: rgba(157, 134, 101, 1);
}
/* welcomе end */

/*visiting start*/
.conteiner_virtual_tour{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  height: 193px;
  left: 0px;
  margin-left: 240px;
}
.virtual_tour_text{
  width: 606px;
  height: 90px;
  left: 0px;
  margin-top: 75px;


  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}
.virtual_tour_line{
  background: #710707;
  width: 1440px;
  height: 3px;
  margin-top: 25px;
}
.conteiner_for_cards{
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  height: 922px;
  top: 193px;
  margin-top: 75px;
  gap: 3.75rem;
  row-gap: 4.8rem;
}
.card{
  width: 440px;
  height: 422px;
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
}
.card:last-child{
  gap: 0;
}
.line{
  text-decoration: none;
  background-repeat: no-repeat;
  height: 2px;
  width: 300px;
  margin-top: 9px;
  background-color: #710707;
}
.card_text_1{
  width: 440px;
  height: 35px;
  left: 0px;
  margin-top: 25px;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;

  color: #000000;
}
.card_text_2{

  width: 165px;
  height: 26px;
  left: 0px;
  margin-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.card_text_3{
  width: 240px;
  height: 21px;
  left: 0px;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
/*visiting end*/

/*picture_explore start*/
.bg_black{
  margin-top: 1072px;
  width: 100%;
  height: 865px;
  background: #030303;
}
.conteiner_picture_explore{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  height: 715px;
  left: 0px;
  margin-left: 240px;
  padding-top: 75px;
}
.picture_explore_text{
  width: 660px;
  height: 77px;
  left: 0px;
  top: 75px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}
.picture_explore_line{
  width: 660px;
  height: 3px;
  left: 0px;
  margin-top: 115px;
  background: #710707;
}
.explore_title{

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 660px;
  height: 281px;
  left: 0px;

  margin-top: 0px;
  margin-right: 1020px;
  margin-bottom: 165px;
}
.picture_explore_title{
  width: 659px;
  height: 77px;
  left: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 25px;
  color: #FFFFFF;
}
.yellow{
  text-decoration: none;
  color: #9D8665;
}
.pic_rectagle{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  height: 700px;
  left: 720px;
  margin-top: 15px;
}
/*picture_explore end*/

/*video_journey start*/
.bg_wite{
  position: relative;
  width: 100%;
  height: 1009px;
  margin-top: 2130px;
}
.frame{
  position: absolute;
  background: url(/assets/img/frame.jpg);
  width: 1440px;
  height: 714px;
  left: 240px;
  top: 90px;
}
.butt_play{
  position: absolute;
  margin-left: 610px;
  margin-top: 205px;
  width: 220px;
  height: 220px;
}
.pl{
  position: absolute;
  margin-top: 50px;
  margin-left: 75px;
}
.butt_play:hover{
  cursor: pointer;
  filter: invert(56%) sepia(33%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(84%);
}
.panel{
  position: absolute;
  background-image:url(/assets/img/panel.jpg);
  width: 100%;
  height: 11.9%;
  margin-top: 629px;
}
.left{
  background: url(/assets/svg/left.svg) no-repeat;
  border: none;
  outline: none;
  width: 27px;
  height: 32px;
/*  color: #989898; */
  margin-top: 28px;
  margin-left: 41px;
  padding-top: 36px;
}
.play{
  background: url(/assets/svg/play.svg) no-repeat;
  border: none;
  outline: none;
  width: 23px;
  height: 32px;
  margin-left: 38px;
  padding-top: 36px;
}
.right{
  background: url(/assets/svg/right.svg) no-repeat;
  border: none;
  outline: none;
  width: 27px;
  height: 32px;
  margin-left: 37px;
  padding-top: 36px;
}
.left:hover{
  cursor: pointer;
  filter: invert(56%) sepia(33%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(84%);
}
.play:hover{
  cursor: pointer;
  filter: invert(56%) sepia(33%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(84%);
}
.right:hover{
  cursor: pointer;
  filter: invert(56%) sepia(33%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(84%);
}
.change_fr{
  position: absolute;
  display: flex;

  background: linear-gradient(to right, #24809E 0%, #24809E 40%, #fff 40%, #fff 100%);
  border: #fff;
  height: 4px;
  width: 805px;
  outline: none;
  transition : 450ms ease-in;

  top: 40px;
  margin-left: 242px;
  width: 820px;
  height: 8px;
  margin-bottom: 0px;

  -webkit-appearance: none;
  cursor: pointer;
  /*  margin-left: 241px; */
}
.sound{
  margin-left: 897px;
  margin-top: 28px;
  width: 37px;
  height: 36px;
  background: url(/assets/svg/sound.svg) no-repeat;
  border: none;
  outline: none;
}.sound:hover{
  cursor: pointer;
  filter: invert(56%) sepia(33%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(84%);
}
.expansion{
  margin-left: 221px;
  padding-top: 39px;

  width: 37px;
  height: 37px;
  background: url(/assets/svg/expansion.svg) no-repeat;
  border: none;
  outline: none;
}
.expansion:hover{
  cursor: pointer;
  filter: invert(56%) sepia(33%) saturate(0%) hue-rotate(184deg) brightness(103%) contrast(84%);
}
.change_sound{
  position: absolute;
  display: flex;

  background: linear-gradient(to right, #24809E 0%, #24809E 40%, #fff 40%, #fff 100%);
  border: #fff;
  height: 4px;
  width: 155px;
  outline: none;
  transition : 450ms ease-in;

  top: 40px;
  margin-left: 1160px;
  width: 155px;
  height: 8px;
  margin-bottom: 0px;

  -webkit-appearance: none;
  cursor: pointer;
}
.video_journey_text{
  position: absolute;
  width: 606px;
  height: 90px;
  left: 240px;
  top: 845px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}
.video_journey_text_1{
  position: absolute;
  width: 720px;
  height: 90px;
  left: 960px;
  top: 852px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 38px;
  color: #000000;
}
/*video_journey end*/

/*tickets_start*/
.bg_black_tickets{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 893px;
  top: 4089px;
  background: #030303;
}
.tickets{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  height: 743px;
  top: 75px;
  left: 240px;
}
.tickets_text{
  width: 660px;
  height: 77px;
  left: 0px;
  top: 1px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}
.tickets_line{
  width: 100%;
  height: 3px;
  left: 0px;
  margin-top: 115px;
  background: #710707;
}
.ticket_pic{
  width: 720px;
  height: 550px;
  margin-top: 74px;
}
.ticket_type{
  width: 270px;
  height: 262px;
  left: 840px;
  top: 193px;

  margin-left: 60px;
  margin-top: 75px;
}
.ticket_type_choice{
  width: 156px;
  height: 33px;
  left: 0px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  color: #FFFFFF;
}
.radio_text{
  position: absolute;
  display: flex;
  width: 230px;
  height: 26px;

  padding-top: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  color: #FFFFFF;
}

.radio_text:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  text-decoration: none;
}

.form_radio {
  width: 270px;
  height: 25px;
  margin-top: 51px;
  margin-bottom: 1px;
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 40px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;

  padding-top: 1px;

}


.form_radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
	bottom: 9px;
	background: url(/assets/img/Ellipse_1.png) 0 0 no-repeat;
}

/* Checked */
.form_radio input[type=radio]:checked + label:before {
	background: url(/assets/img/Group.png) 0 0 no-repeat;
}


/* Hover */
.form_radio label:hover:before {
	filter: brightness(120%);
}

/* Disabled */
.form_radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}

.amount{
  position: relative;
  width: 150px;
  height: 342px;
  left: 240px;
  margin-top: 75px;

}
.amount_text{
  display: block;
  width: 100px;
height: 33px;
margin-left: 33%;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
/* identical to box height */


color: #FFFFFF;

}
.basic_1{

  width: 150px;
  height: 100px;
  left: 0px;
  top: 44px;
}
.senior_1{
/*  display: flex; */
  width: 150px;
  height: 100px;
  left: 0px;
  top: 50px;
  margin-top: 25px;
}
.basic_1_text{
  height: 26px;
  left: 0px;
  top: 0px;

  margin-top: 11px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
/* identical to box height */
color: #FFFFFF;
}
.senior_1_text{
  height: 26px;
  left: 0px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
/* identical to box height */
color: #FFFFFF;
}
.basic{
  width: 145px;
  height: 42px;
  margin-top: 14px;
  border: 3px solid white;
}
.number{
  position: absolute;
  display: flex;
  all: unset;
  height: 26px;
  left: 69px;
  margin-left: 12px;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  text-align: center;

  color: #FFFFFF;
}
.button_1{
  background: url(/assets/img/–.png) no-repeat;
  width: 18px;
  height: 9px;
  padding-top: 11px;
  margin-left: 11px;
  border: none;
  text-decoration: none;
}
.button_2{
  background: url(/assets/img/+.png) no-repeat;
  width: 18px;
  height: 18px;
  padding-top: 17px;
  padding-right: 3px;
  margin-left: 0px;
  top: 99px;
  border: none;
  text-decoration: none;
}
.button_1:hover , .button_2:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  text-decoration: none;
}

.senior{
  width: 145px;
  height: 42px;
  margin-top: 14px;
  border: 3px solid white;
}
.total{
  display: block;
  width: 160px;
  height: 33px;
  margin-left: 0%;
  margin-top: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  color: #FFFFFF;
}

.buy_now{
  width: 177px;
  height: 52px;
  left: 0px;
  top: 0px;
  margin-top: 467px;
  margin-left: 62px;
  background: #FFFFFF;
  border-radius: 2px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;

  padding-left: 39px;

  color: #000000;
}
.buy_now:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  font: #fff;
}
/*tickets_end*/

/* contacts-start*/
.bg_wite_contact{
  width: 100%;
  height: 813px;
  top: 4982px;
  margin-top: 893px;
  background-color: white;
}
.contact{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  height: 813px;
  left: 240px;
  margin-top: 75px;
}
.contact_text{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 397px;
  height: 90px;
  top: 0;
  margin-left: -240px;

  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}
.contact_line{
  width: 100%;
  height: 3px;
  left: 0px;
  margin-top: 115px;
  background: #710707;
}
.adress{
  position: absolute;
  width: 282px;
  height: 221px;
  left: 0px;
  top: 203px;
}
.musee{
  position: absolute;
  width: 282px;
  height: 221px;
}
.musee_text{
  position: absolute;
  width: 244px;
  height: 66px;
  left: 0px;
  top: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
  letter-spacing: normal;
  color: #000000;
}
.musee_adress{
  position: absolute;
  width: 285px;
  height: 33px;

  top: 98px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  /* identical to box height */
  color: #000000;
}
.musee_adress_1{
  position: absolute;
  width: 285px;
  height: 33px;
  top: 143px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  /* identical to box height */
  color: #000000;
}
.musee_adress_2{
  position: absolute;
  width: 285px;
  height: 33px;

  top: 190px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  /* identical to box height */
  color: #000000;
}
.map{
  position: absolute;
  width: 960px;
  height: 620px;
  left: 480px;
  top: 193px;

  background: url(../assets/img/map.png);
  border-radius: 0px;
}
/* contacts-end*/

/*footer_start*/
.bg_footer{
  margin-top: 150px;
  width: 1920px;
  height: 300px;
  background: #030303;
  border-radius: 0px;
}
.control_footer{
  position: absolute;
  width: 1440px;
  height: 150px;
  left: 240px;
  margin-top: 75px;
}
.logo_pic_footer{
  background: url(/assets/svg/logo.svg) no-repeat;
  width: 49px;
  height: 26px;
  margin-top: 10px;
  color: white;
}
.logo_text_footer{
  width: 125px;
  height: 26px;

  left: 69px;

/*  top: 2px; */


  font-family: Forum;
  font-style: normal;
  font-weight: 100;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.logo_conteiner_footer{
  position: absolute;
  width: 195px;
  height: 26px;
  bottom: 101px;
/*  margin-left: 240px; */
}
.link_logo_conteiner_footer:hover{
  width: 195px;
  height: 26px;
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  text-decoration: none;
}
.header_nav_footer{
  width: 366px;
  height: 150px;
  left: 340px;
  margin-left: 339px;
  margin-top: 2px;
}
.header_item_footer_video{
  margin-right: 41px;
}
.header_item_footer_tickets{
  margin-right: 22px;
}
.header_item_footer_contacts{
  margin-right: 2px;
}
.social_network{
/*  position: absolute; */
  width: 336px;
  height: 48px;
  left: 1104px;
  top: 88px;
}
.youtube{
/*  position: absolute; */
  width: 48px;
  height: 48px;

  background: url(/assets/img/Youtube.png);
}
.insta{
  /*position: absolute;*/
  width: 48px;
  height: 48px;
  margin-left: 72px;
  background: url(/assets/img/Instagram.png);
}
.f_b{
/*  position: absolute; */
  width: 48px;
  height: 48px;
  margin-left: 144px;
  background: url(/assets/img/Facebook.png);
}
.tw{
/*  position: absolute; */
  width: 48px;
  height: 48px;
  margin-left: 216px;
  background: url(/assets/img/Twitter.png);
}
.pinterest{
/* position: absolute; */
  width: 48px;
  height: 48px;
  margin-left: 288px;
  background: url(/assets/img/Pinterest.png);
}
.youtube:hover, .insta:hover, .f_b:hover, .tw:hover,
.pinterest:hover{
  filter: invert(61%) sepia(10%) saturate(1166%) hue-rotate(356deg) brightness(87%) contrast(87%);
  transition: 1s;
  text-decoration: none;
}
/*footer_end*/
